# Example key, should be commited
OPENROUTER_API_KEY="sk-dummy-api-key"
#OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
#LLM_MODEL=qwen/qwen3.5-35b-a3b
#LLM_MAX_TOKENS=1000
#NER_MODEL=dbmdz/bert-large-cased-finetuned-conll03-english

CORS_ALLOW_ORIGINS=https://twoja-domena.com
CORS_ALLOW_CREDENTIALS=false
CORS_ALLOW_METHODS=*
CORS_ALLOW_HEADERS=*

#APP_ENV=development
